body {
    background-color: #f4f7fc;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .admin-management-page {
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  .navbar {
    background-color: #333;
    padding: 15px;
    margin-bottom: 20px;
  }
  
  .navbar .navbar-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar .navbar-link {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  .navbar .navbar-link:hover {
    text-decoration: underline;
  }
  
  .content {
    margin-top: 20px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-width: 600px;
    margin: 0 auto;
  }
  
  li {
    background-color: #f9f9f9;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  li {
    background-color: #f9f9f9;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  button.delete-button {
    margin-top: 10px; 
    width: 120px; 
    padding: 12px 20px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
  }
  
  button.delete-button:hover {
    background-color: #0056b3;
  }
  
  button.delete-button:active {
    background-color: #0056b3;
  }
  
  
  
  .error {
    color: red;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .message {
    color: green;
    text-align: center;
  }

  .navbar button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  
  