

.filters {
  display: flex;
  justify-content: center; 
  align-items: center; 
  gap: 20px; 
  margin-bottom: 20px; 
}

.filters label {
  font-size: 16px;
  font-weight: bold;
}

.filters select {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 180px; 
}

.filters select:focus {
  border-color: #007bff; 
}

.resource-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  padding: 20px;
}

h2 {
  font-size: 28px;
  color: #333;
  margin-bottom: 30px;
  text-align: left;
}


ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

ul li {
  background-color: #f4f4f4;
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

ul li h3 {
  margin-top: 0;
  font-size: 22px;
  color: #333;
  text-align: left;
}

ul li p {
  margin: 5px 0;
  font-size: 16px;
  color: #555;
}

ul li button {
  background-color: #0056b3;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  align-self: flex-start;
}

ul li button:hover {
  background-color: #0056b3;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  max-width: 600px;
  width: 100%;
  text-align: left;
}

.modal button {
  background-color: #0056b3;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal button:hover {
  background-color: #0056b3;
}


.pagination button {
  padding: 6px 12px; 
  font-size: 14px;
  background-color: #0056b3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px;
  width: 80px; 
}

.pagination button:hover {
  background-color: #0056b3;
}

